{% extends 'ecommerce/base.html' %}
{% block content %}
    <h1>Products</h1>
    {% for product in products %}
        <div class="media-body">
            <form action="/" method="post">
                {% csrf_token %}
                <label>{{ product.brand }}</label>
                <label>{{ product.name }}</label>
                <label>{{ product.size }}</label>
                <label>{{ product.price }}</label>
                <input type="hidden" name="product_name" value="{{ product.name }}" id="id_product_name"/>
                <input type="submit" value="Add">
            </form>
        </div>
    {% endfor %}
{% endblock content %}

